<div class="container">
  <h1 class="text-center pt-3">Buscador-app</h1>

  <form class="formulario">
    <div class="mb-3">
      <label for="tarea" class="form-label">Tarea</label>
      <input
        [(ngModel)]="tarea"
        type="text"
        id="tarea"
        name="tarea"
        class="form-control"
        (input)="cargarTareas()"
      />
    </div>
  </form>

  <h3 class="text-center" *ngIf="listaTareas.length>0">Lista de tareas</h3>

  <div class="row mt-5">
    <div class="col-md-4" *ngFor="let tarea of listaTareas">
      <div class="card mt-3">
        <div class="card-body mt-2">
          <h5 class="card-title">{{tarea.nombre}}</h5>
          <p *ngIf="tarea.estado==0; else Finalizado" class="estado pendiente">Pendiente.</p>
          <ng-template #Finalizado><p class="estado finalizado">Finalizado</p></ng-template>
          <p class="card-text ">
            {{tarea.descripcion}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
